.pagination {
  display: flex;
  justify-content: center;
  margin: 0;
}

.pagination button {
  border: none;
  color: black;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #a8e6a3;
}
.pagination button:hover {
  background-color: #e0f7ff;
}
