.product-detail {
    max-width: 1100px;
    margin: 120px auto;
    padding: 40px;
}

.product-detail-container {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

/* ===== IMAGE ===== */

.product-image-section img {
    width: 450px;
    border-radius: 12px;
    object-fit: cover;
}

/* ===== INFO ===== */

.product-info-section {
    flex: 1;
}

.product-info-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.product-info-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.product-price {
    margin: 25px 0;
    font-size: 30px;
    font-weight: bold;
    color: #f68b1e;
}

/* ===== BUTTON ===== */

.add-to-cart-btn {
    width: 250px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: #f68b1e;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #d9730d;
    transform: scale(1.05);
}